@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700,500,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #141419;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Newsreader numbers feel better with oldstyle figures */
.font-serif {
  font-feature-settings: 'onum' 1;
}
